{% extends "base.html" %} {% block content %} {% load static %}

<section class="content">
  <section class="heading">
    <img src="{% static 'img/twitter.svg' %}" class="tlogo"/>
    <h1>Edit</h1>
  </section>

  <section class="post_form">
    
    <form action="/edit/{{ post.id }}/" method="POST" enctype="multipart/form-data">
      {%csrf_token%}
      <input type="text" name="name" value="{{ post.name }}" />
      <input id="edit-body" name="body" value="{{ post.body }}" required />
      <input type="file" id="edit-file" name="image"/>
      
      {% if post.image.url %}
      <img src="{{ post.image.url }}" style="width: 250px; height: 200px;"alt="" />
      {% endif %}

      <div class="banner"> 
        <a href="{% url 'index' %}" id="cancel" type="submit">Cancel</a>
        <input
          id="update"
          type="submit"
          value="Update"
        />
      </div>

    </form>
  </section>
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script src="{%static 'js/posts.js' %}"></script>
</section>

{% endblock %}